.htTop {
  text-align: center;

}

body {
  background-color: #ED2647;
}

.htTopText {
  color: white;
  font-size: 2.5vw;
  font-family: Georgia, serif		;
  text-align: center;
  padding: 0;
  margin: 0;
}

.rulesList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  min-height: 60vh;
}

.listText {
  color: white;
  /* font-family: Comic Sans MS, Comic Sans, cursive		; */
  font-family: Trebuchet MS, sans-serif	;
  font-size: 1.7vw;
  margin: 5px;
  padding: 10px;
}

@media screen and (min-width: 1400px) {

  .listText {
    font-size: 1.3vw;
  }

  .htTopText {
    font-size: 2vw;
  }
}

@media screen and (max-width: 965px) {

  .listText {
    font-size: 1.7vw;
  }

  .htTopText {
    font-size: 2.3vw;
  }

  .rulesList {
    min-height: 45vw;
  }
}

@media screen and (max-width: 650px) {

  .listText {
    /* color: #ED2647; */
    font-size: 2.2vw;
    margin: 0;
  }

  .htTopText {
    font-size: 2.5vw;
  }

  .rulesList {
    min-height: 50vw;
  }
}

@media screen and (max-width: 450px) {

  .listText {
    /* color: #ED2647; */
    font-size: 3.5vw;
  }

  .htTopText {
    font-size: 3vw;
  }

  .rulesList {
    min-height: 100vw;
  }
}